@import '~src/vars'

.header
  margin-bottom: 10px

.user-credential
  background: $darker-background
  padding: 1px 5px
  margin: 0 1px
  border-radius: 3px
  box-shadow: 0 0 0 1px rgba(#000, 0.5)

.security-credentials-section
  *
    margin-bottom: 5px
