.filterInput
  display: block
  margin-bottom: 10px

.operationList
  display: flex
  flex-wrap: wrap

  & > *
    margin: 0 10px 10px 0

.welcomeMessage
  font-size: xx-large
  margin-bottom: 10px
  font-weight: bold
