@import '~src/vars'

.root
  display: flex
  background:none;
  border:none;
  padding:0px
  margin:0px
  cursor: default
  color: #f5f8fa
  display: grid
  grid-template-columns: 1fr 1fr 

.modal-heading
  font-size: 1.15rem
  font-weight: bold

.row-item
  margin-top: 5px
  margin-bottom: 0px

  &.right
    text-align: right
    font-weight: bold

.outer-div
  display: grid
  grid-template-columns: 1fr 1fr

.inner-div
  display: grid
  grid-template-columns: 1fr 1fr
  padding: 0px 75px 0px 5px

