@import '~src/vars'

.root
  cursor: default
  color: #f5f8fa
  display: grid
  grid-template-columns: 1fr 1fr 

.grouping
  margin-bottom: 8px

.large-text
  font-size: 1.5rem
  font-weight: bold

  &.group
    display: inline-block;

.small-supporting-text
  font-size: 0.6125rem
  letter-spacing: 0.05em

.supporting-text
  font-size: 0.75rem
  display: inline-block;
  margin-left: 4px
  letter-spacing: 0.05em
