@import "../vars"
@import "./reset.css"
@import "./fonts"

body
  background: $background
  color: $foreground
  font-family: 'Proxima Nova', sans-serif
  font-size: $text-size

html, body
  height: 100%
