@import '~src/vars'

.dropdown
  width: 35%

.error
  margin-top: 8px
  font-weight: 800
  color: $error

.view-metadata-root
  display: flex
  flex-direction: column
  gap: 5px

.button-row
  position: relative

.close-button
  margin-top: 10px

.metadata-content
  flex-grow: 1
  display: inline-block
  font-weight: normal
  padding-left: 5px
  padding-bottom: 5px

.label-not-important
  color: #777

.content-important
  background-color: #6c3ec7

.tab-menu
  margin-bottom: 10px
  align-items: center
  justify-content: center

.expandable-section-label-container
  display: flex
  justify-content: space-between

.expandable-section-button-group
  margin-right: 10px

.expandable-section-label
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.refresh-button
  align-self: flex-start

.unprocessable-cb
  margin-bottom: 10px
