@import "~src/vars"

// same as profile's .update-success, modeled after form's .error
.messagebox
  margin-bottom: 10px
  box-sizing: border-box
  border-radius: 3px
  font-weight: 800
  line-height: 25px
  padding: 5px 5px 5px 10px
  background: $listen
  box-shadow: 1px 1px 1px 0 rgba(#000, 0.3)

.title
  font-weight: plain
  font-size: 20px
  text-align: center
  margin-bottom: 20px
