@import '~src/vars'

.root
  padding-bottom: 50px
  width: 100%

  &.narrow { max-width: 400px }
  &.normal { max-width: 600px }
  &.wide   { max-width: 900px }
  &.full-width { max-width: 100%  }

.title
  font-size: $h1-size
  margin-bottom: 20px
