@import '~src/vars'

.help-icon
  width: 20px
  cursor: pointer

.preamble
  margin-bottom: 15px
  
.keygroup
  margin-right: 5px
  display: inline

.key
  display: inline-block
  min-width: 20px
  text-align: center
  background-color: $key-top
  box-sizing: border-box
  border-radius: 5px
  box-shadow: 0 2px $key-bottom
  font-weight: bold
  padding: 3px 5px 3px 5px
  margin-bottom: 5px

.shortcut-description
  font-style: italic
  margin-right: 5px
  margin-left: 5px
