@import "~src/vars"

.login
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column

.auth-scheme-row
  margin-top: 10px

.login-menu
  border: 1px solid rgba(#000, 0.3)
  padding: 5px

.menu-divider
  // reset border to nothing
  border: 0px solid
  // draw new border
  border-top: 1px solid rgba(#000, 0.3)
  margin: 5px -5px 5px -5px

.auth-buttons
  button
    display: block
    margin-top: 5px

.menu-title
  font-weight: bold
  font-size: 1.15 rem
  margin-bottom: 5px

.full-width-button
  width: 100%
