@import '~src/vars'

$border = #0B1013
$date-header = #fff

$cursor = #2196f3
$dark-background = #202A32
$even-row-color = rgba(0, 0, 0, 0.05)
$weekend-column-color = rgba(11, 16, 19, 0.5)

:global
  .react-calendar-timeline *
    box-sizing: border-box

  .react-calendar-timeline
    .rct-outer
      display: block
      overflow: hidden
      white-space: nowrap

    .rct-scroll 
      display: inline-block
      white-space: normal
      vertical-align: top
      overflow-x: scroll
      overflow-y: hidden
      -ms-touch-action: none
      touch-action: none

    .rct-item
      .rct-item-content
        position: sticky
        position: -webkit-sticky
        left: 0px
        overflow: hidden
        display: inline-block
        border-radius: 2px
        padding: 0 6px
        height: 100%

      &:hover
        z-index: 88

    .rct-sidebar
      overflow: hidden
      white-space: normal
      display: inline-block
      vertical-align: top
      position: relative
      box-sizing: border-box
      border-right: 1px solid $border

      &.rct-sidebar-right
        border-right: 0;
        border-left: 1px solid $border
      
      .rct-sidebar-row
        padding: 0 4px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        box-sizing: border-box
        margin: 0
        border-bottom: 1px solid $border

        &.rct-sidebar-row-odd
          background: $dark-background

        &.rct-sidebar-row-even
          background: $even-row-color

    .rct-vertical-lines
      .rct-vl
        position: absolute
        border-left: 1px solid $border
        z-index: 30

        &.rct-vl-first
          border-left-width: 2px

        &.rct-day-6, &.rct-day-0
          background: $weekend-column-color

    .rct-horizontal-lines
      -webkit-user-select: none
      -moz-user-select: -moz-none
      -ms-user-select: none
      user-select: none

      .rct-hl-even, .rct-hl-odd
        border-bottom: 1px solid $border
        box-sizing: border-box
        z-index: 40

      .rct-hl-odd
        background: $dark-background

      .rct-hl-even
        background: $even-row-color

    .rct-cursor-line
      position: absolute
      width: 2px
      background: $cursor
      z-index: 51

    .rct-dateHeader 
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      border-bottom: 1px solid $border
      cursor: pointer
      font-size: 14px
      background-color: $dark-background
      font-weight: 600
      border-left: 2px solid $border

    .rct-dateHeader-primary
      background-color: initial
      border-left: 1px solid $border
      border-right: 1px solid $border
      color: $date-header

    .rct-header-root
      background: $dark-background
      border-bottom: 1px solid $border

    .rct-calendar-header
      border: 1px solid $border
