@import '~src/vars'

.description
  margin: 10px 0
  font-size: $smallest-text-size
  line-height: $smallest-text-size
  max-height: (@line-height * 8)
  overflow: hidden

.media
  width: 100%
  height: 150px
  text-align: center
