
.header
  margin: 10px 10px
  text-align: left

  em
    padding: 0 5px 0 5px
    font-style: italic
    font-weight: bold


.code-viewer
  height: 400px

  .ace
    position: absolute
    top: 0px
    bottom: 0
    left: 0
    right: 0
    height: 100%
