@import '~src/vars'



.alt-root
  // height: 95%
  margin: 10px
  display: block

.flex-area
  height: 100%
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start

.alt-summary
  margin-bottom: 10px

.alt-table-container
  flex-grow: 1
  flex-shrink: 1
  border: 1px solid $darker-background
  border-bottom: 0px
  box-sizing: border-box
  overflow: auto
  height: 100%

  .selected-row
    background: $darker-primary

    &:hover
      background: $lighter-primary
  
  .table
    white-space: nowrap


.alt-content
  flex-grow: 1
  min-width: 100px




.alt-tab-group
  margin-bottom: 2px

.section-container
  padding: 5px 0px 5px 10px
  
  

.section-entry
  line-height: 1.25
  display: block
  text-align: left

.section-key
  display: inline
  font-weight: bold
  font-style: normal
  color: $lighter-primary
  white-space: nowrap

.section-value
  display: inline
  padding-left: 5px
  font-family: monospace
  font-size: small
  