@import '~src/vars'

.header
  margin: 10px 10px
  text-align: left

  em
    font-style: italic
    font-weight: bold

.table-container
  margin: 10px
  height: 45%
  overflow: auto

  .selected-row
    background: $darker-primary

    &:hover
      background: $lighter-primary

.body
  margin: 10px
  height: 45%
  overflow: auto
