@import '~src/vars'

.root
  height: 100%

.header
  margin: 10px 10px
  text-align: left

  em
    font-style: italic
    font-weight: bold

.section-header
  text-align: left

.table
  white-space: nowrap

.table-container
  margin: 10px
  height: 200px
  overflow: auto
  border: 1px solid $darker-background

  .selected-row
    background: $darker-primary

    &:hover
      background: $lighter-primary

.body
  margin: 10px
  height: 45%

  .tab-group
    margin-left: 2px
    margin-bottom: 2px

  .ace-container
    position: relative
    width: 100%
    height: 100%
    min-width: 100px
    min-height: 100px
    margin-bottom: 10px

    .ace
      position: relative
      height: 50%
      top: 0px
      bottom: 0
      left: 0
      right: 0

.pretty-headers-container
  overflow: auto
  background: $darker-background
  height: 10%
  margin-bottom: 10px
  border: 1px solid $darker-primary
  padding: 5px
  text-align: left 

.pretty-headers-key
  font-weight: bold
  margin-left: 5px

.pretty-headers-value
  font-family: monospace
  font-size: small
  padding-left: 5px

.pretty-headers-no-content
  font-weight: bold
  margin-left: 5px

