@import '~src/vars'

.root
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  max-width: none
  max-height: none
  margin: 0
  padding: 0
  border: 0
  color: inherit
  background: transparent
  align-items: center
  justify-content: center

  &[open]
    display: flex

  &::backdrop
    background: rgba(#000, 0.3)
    backdrop-filter: blur(5px)

.modal
  max-height: 90%
  width: 40%
  overflow-y: auto
  background: $background
  border-radius: 5px
  box-shadow: 0 0 15px 0 rgba(#000, 0.4)

  &.smaller-width
    width: 350px

  p
    line-height: 1.4

.title
  padding: 10px
  border-bottom: 1px solid $darker-background
  font-weight: 600
  background: $lighter-background

.content
  padding: 20px
