
.table
  margin-bottom: 10px

.button-block
  position: relative

.create-button
  position: absolute
  right: 0

.button-cell
  position: relative

.row-buttons
  position: absolute
  right: 5px
  top: 10px
