@import '~src/vars'

.root
  width: 200px
  height: 150px
  background: transparent
  border: none
  font-weight: 800
  color: $foreground
  cursor: pointer

  .circle
    position: relative
    background: $foreground
    width: 40px
    height: @width
    line-height: @width
    border-radius: @width
    font-size: 25px
    margin: 0 auto 15px auto
    color: $background

  &:hover
    background: $lighter-background
    border-radius: 5px

  // plus-inverse-size shrinks as the pixel size grows. max size is effective 9
  $plus-inverse-size=13px
  $plus-weight=2px
  .plus
    &:before, &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: $background
    &:before
      margin: $plus-inverse-size auto
      width: $plus-weight
    &:after
      margin: auto $plus-inverse-size
      height: $plus-weight
