@import '../../vars'

.root
  padding: 10px
  border-radius: 3px
  background: $darker-background
  box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.3), inset 0 1px 1px rgba(16,22,26,.4)
  focus-box-shadow()

.active
  background: $darker-primary

.disabled
  opacity: 0.5
  cursor: not-allowed
  box-shadow: none !important

.no-content
  margin: 10px
  text-align: center

  span
    font-weight: 800
    text-decoration: underline
    cursor: pointer

.has-content
  padding: 10px

.error
  margin-top: 20px
  font-weight: 800
  color: $error
