@import '~src/vars'

.root
  position: relative

  label 
    margin-top: 5px

.submit-button
  display: block
  margin-top: 10px
  margin-left: auto
  margin-right: 0

.multi-item-row
  display: flex
  justify-content: space-between

  :not(:last-child)
    margin-right: 5px

.flex-input
  flex-grow: 1

.date-range-input
  width: 25ch
  
.linked-evidence-input
  width: 40ch
