@import '~src/vars'

.root
  padding: 0 20px

.title, .description
  margin: 20px 0

.title
  font-weight: 800
  font-size: 40px

.description
  line-height: 20px

.statuslabel
  font-weight: bold
  display: inline-block
  padding-bottom: 7px

.status
  font-style: italic
  padding-left: 5px
