@import '~src/vars'

.root
  padding-top: 20px

  img
    display: block
    width: 100px
    margin: 30px auto
    box-shadow: 0 0 20px 0 rgba(#000, 0.3)
    border-radius: @width

  .message
    text-align: center
    line-height: 30px
    font-weight: 800
    color: #ccc
