@import '~src/vars'

.title
  margin-bottom: 15px

  span
    font-size: $smallest-text-size

  a
    text-decoration: underline
    font-weight: 600
    margin-right: 15px

.lightbox
  padding: 20px
  max-height: 90vh
  max-width: 90vw
  overflow: auto

  h1
    font-size: 30px
    font-weight: 800
