@import '~src/vars'

.warning
  font-style: italic
  display:block

.challenge
  font-style: italic
  display: block
  color: $challenge-colors['0']

.success-close-button
  float: right
  margin-bottom: 20px

.success-area
  & > *
    margin-top: 10px
