@import '~src/vars'

.warning
  font-style: italic
  display:block

.challenge
  font-style: italic
  display: block
  color: $challenge-warning

.success-close-button
  float: right
  margin-bottom: 20px

.success-area
  & > *
    margin-top: 10px

.header
  font-size: 20px

.optional
  color: red
  margin-left: 2px

.copy-button
  background-image: url('./copy.svg')
  position: absolute
  width: 25px
  height: @width
  background-color: $background
  background-position: center center
  background-size: 20px
  background-repeat: no-repeat
  box-shadow: none
  margin-top: -2px
