@import '~src/vars'

.root
  p
    line-height: 1.4
    margin-bottom: 10px

.setup-modal
  h2
    font-size: $h2-size
    font-weight: 600

  p
    margin: 10px 0

.qr
  display: block
  margin: 10px auto
  border-radius: 5px
  border: 1px solid $darker-background

.plain-error
  font-style: italic
