@import '~src/vars'

ashirt-ace-theme()
  :global
    .ace_editor
      background-color: rgb(19, 29, 34) !important
      color: #FFFFFF !important
      
    .ace_gutter 
      background rgba(1, 2, 4, .4)
      color #819cb5

    .ace_constant.ace_numeric
      color #2965CC

    .ace_entity.ace_name.ace_function
      color #2965CC

    .ace_print-margin 
      width 1px
      background #555555
    .ace_cursor 
      color #ffc600
    .ace_marker-layer 
      .ace_selection 
        background #0050A480
      .ace_step 
        background rgb(127, 111, 19)
      .ace_bracket 
        margin -1px 0 0 -1px
        border 1px solid rgba(255, 255, 255, 0.15)
      .ace_active-line 
        background rgba(0, 0, 0, 0.35)
      .ace_selected-word 
        border 1px solid rgba(179, 101, 57, 0.75)
    .ace_gutter-active-line 
      background-color rgba(0, 0, 0, 0.35)
    .ace_invisible 
      color rgba(255, 255, 255, 0.15)
    .ace_invalid 
      color #F8F8F8
      background-color #800F00
    .ace_support 
      color #80FFBB
      &.ace_constant 
        color #EB939A
      &.ace_function 
        color #60ac39
    .ace_fold 
      background-color #FF9D00
      border-color #FFFFFF
    .ace_storage 
      color #FFEE80
    .ace_entity 
      color #6684e1
    .ace_string 
      color #60ac39
      &.ace_regexp 
        color #60ac39
    .ace_comment 
      font-style italic
      color #999580
    .ace_variable 
      color #d73737
      &.ace_language 
        color #d73737
    .ace_meta 
      &.ace_tag 
        color #d73737
    .ace_keyword,
    .ace_meta 
      color #b854d4
    .ace_constant,
    .ace_constant.ace_character,
    .ace_constant.ace_character.ace_escape,
    .ace_constant.ace_other 
      color #b854d4
    .ace_heading,
    .ace_markup.ace_heading 
      color #C8E4FD
      background-color #001221
    .ace_list,
    .ace_markup.ace_list 
      background-color #130D26
    .ace_indent-guide
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHCLSvkPAAP3AgSDTRd4AAAAAElFTkSuQmCC") right repeat-y

    .ace_search
      padding: 20px
      background: $background
      border: none

    .ace_searchbtn, .ace_search_field, .ace_button
      background: $darker-background
      box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.3), inset 0 1px 1px rgba(16,22,26,.4)
      color: $foreground
      border-color: $lighter-background
