@import '~src/vars'

.top
  padding: 5px 5px 0 5px

.name
  font-weight: 800
  margin-bottom: 10px

.query
  display: inline-block
  max-width: 100%
  padding: 3px
  font-family: monospace
  font-size: $tag-text-size
  background: $darker-background
  border: 1px solid rgba(#fff, 0.2)
  border-radius: 3px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
