@import '~src/vars'

.notice
  display: table
  background-color: $listen
  text-align: center
  margin: 0 auto
  margin-bottom: 10px
  padding: 2px 5px 2px 5px
  font-weight: bold
  border-radius: 5px

.editing-user-name
  font-style: italic
