@import '~src/vars'

p
  margin-bottom: 10px

em
  font-style: italic

.code, .example, .filter-field
  background-color: #383838
  border: 1px solid #222
  border-radius: 2px
  font-family: monospace

.code, .filter-field
  display: inline
  padding: 0 2px 0 2px
  white-space nowrap

.filter-field
  margin-right: 5px

.example
  display: block
  margin: 10px 0 10px 0
  padding-left: 15px
  border-radius: 2px

.filter-description
  padding-bottom: 3px

.filter-row
  p
    line-height: 1.1
