@import '~src/vars'

.toolbar-root
  margin: 10px

.toolbar-flex
  display: flex
  justify-content: space-between

  & > *
    margin: 0 10px

.tb-expand-button
  width: 35px
  height: @width
  background-image: url('./edit.svg')
  background-position: center center
  background-repeat: no-repeat
  background-size: 12px
  opacity: 0.75
  border-radius: 3px
  align-self: flex-start
  flex-grow: 0

.tb-content
  flex-grow: 1
  
.tb-create-buttons
  flex-grow: 0

.tb-search-container
  position: relative
  min-width: 500px

.tb-search
  width: 100%

.tb-search-input
  padding-right: 35px


.toolbar-overlay
  position: absolute
  z-index: 1
  top: 9px
  left: 70px
  background-color: $background
  border: 1px solid #222
  border-radius: 3px
  padding: 5px
  animation-duration: 200ms
  animation-name: overlay-show
  min-width: 600px
  width: 60%

@keyframes overlay-show
  from
    opacity: 0
    visibility: hidden

  to
    opacity: 1
    visibility: visible
    

.filter-grid
  padding: 10px 10px 0 10px

.search-help-icon
  position: absolute
  background-image: url('./qmark.svg')
  right: 4px
  top: 4px
  width: 25px
  height: @width
  background-position: center center
  background-repeat: no-repeat
  background-size: 12px
  transition: all 200ms
  opacity: 0.4
  border-radius: 3px
  cursor: pointer

  &:hover
    opacity: 1
    background-color: $background
