@import '~src/vars'

.root
  display: flex
  justify-content: space-around
  margin: 10px

  & > *
    margin: 0 10px;

.search-container
  position: relative
  width: 500px
  flex-grow: 1

.search
  width: 100%

.search-input
  padding-right: 30px

p
  margin-bottom: 10px

em
  font-style: italic

.code, .example, .filter-field
  background-color: #383838
  border: 1px solid #222
  border-radius: 2px
  font-family: monospace

.code, .filter-field
  display: inline
  padding: 0 2px 0 2px
  white-space nowrap

.filter-field
  margin-right: 5px

.example
  display: block
  margin: 10px 0 10px 0
  padding-left: 15px
  border-radius: 2px

.filter-description
  padding-bottom: 3px

.filter-row
  p
    line-height: 1.1

.search-help-icon
  position: absolute
  background-image: url('./qmark2.svg')
  right: 4px
  top: 4px
  width: 25px
  height: @width
  background-position: center center
  background-repeat: no-repeat
  background-size: 12px
  transition: all 200ms
  opacity: 0.4
  border-radius: 3px
  cursor: pointer

  &:hover
    opacity: 1
    background-color: $background
