@import '~src/vars'

.arrow
  width: 82px
  $arrow-size = 5px
  &:after
    content: ""
    position: absolute
    top: 14px - $arrow-size
    left: 60px
    border: $arrow-size solid transparent
    border-top-color: $foreground
    margin-right: 50px

.button-text
  padding-right: 15px
  
.global-var
  padding: 5px

.popover
  display: flex
